include ../partials/header.pug
<section class="accueil">
  <img src="img/FFXIV_logo.png">
  <h1>Final Fantasy XIV</h1>
  <h2>Communauté Role Play</h2>
</section>
<section class="presentation">
  <img src="img/sun.png">
  <p>Un univers idyllique, somptueux, riche en couleur et peuplé d'une multitude de créatures plus fantastiques les unes que les autres, c'est cela que nous vous offrons comme décor pour nos parties de jeu "Role Play".</p>
  <p>Venez rejoindre notre communauté internationals de RP sur le MMORPG le plus populaire du moment.</p>
</section>
<section class="detail">
  <div id="detail1">
    <img src="img/dress.png">
    <img src="#" alt="imageRonde1">
    <h1>Glamour</h1>
    <h2>Habillez votre personnage en fonction de vos envies !</h2>
  </div>
  <div id="detail2">
    <img src="img/fc.png" >
    <img src="#" alt="imageRonde2">
    <h1>Guilde</h1>
    <h2>Rejoignez une guilde et faites vous de nouveaux amis !</h2>
  </div>
  <div id="detail3">
    <img src="img/bahamut.png">
    <img src="#" alt="imageRonde3">
    <h1>Aventure</h1>
    <h2>Partez à l'aventure et affrontez les terrifiants Primordiaux !</h2>
  </div>
  <div id="detail4">
    <img src="img/dragon.png">
    <img src="#" alt="imageRonde4">
    <h1>Scénario</h1>
    <h2>Entrez dans l'histoire avec vos camarades et sauvez Éorzea !</h2>
  </div>
</section>
<section class="reseau">
  <img src="../img/reseau.jpg">
  <h1>Un grand réseau de joueurs vous attendent !!</h1>
</section>
include ../partials/footer.pug
